body{
	background-image: url(js.jpg);
	background-size: 30%;
	background-attachment: fixed;
	margin: 0;
	font-family: Comic Sans MS;
}

.div{
	text-align: center; 
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10%;
	background-color: #FFCD01;
	padding: 50px 20px 50px 20px; 
	border-radius: 2rem;
}

